@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #fed330;
    --text-color: #222;
    --button-bg-color: #8854d0;
    --button-text-color: #fff;
    --glass: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color)
}
